@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-base {
    @apply outline-none ring-2 ring-violet-500 ring-offset-0;
  }

  .focus-ring {
    @apply focus-visible:focus-base;
  }
}

html {
  @apply h-full;
}

body {
  @apply h-full;
}

#__next {
  @apply h-full;
}

.sb-show-main.sb-main-centered #root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

