@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .focus-base {
    @apply outline-none ring-0 border-violet-500;
  }

  .focus-ring {
    @apply focus-visible:focus-base;
  }
}

.sb-show-main.sb-main-centered #root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

