name: App test and production deployment

on:
  push:
    branches:
      - "main"

jobs:
  # validate:
  #   uses: ./.github/workflows/app-shared.yml

  deployAppVercel:
    runs-on: ubuntu-latest
    # needs: [validate]
    steps:
      - uses: actions/checkout@v3
      - uses: amondnet/vercel-action@v25
        with:
          vercel-args: '--prod'
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          scope: ${{ secrets.VERCEL_ORG_ID}}

  deployStorybookVercel:
    runs-on: ubuntu-latest
    # needs: [validate]
    steps:
      - uses: actions/checkout@v3
      - uses: amondnet/vercel-action@v25
        with:
          vercel-args: '--prod'
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_STORYBOOK_PROJECT_ID}}
          scope: ${{ secrets.VERCEL_ORG_ID}}
